@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Skranji&display=swap');

:root {
    --primary-color: #134266;
    --secondary-color: #ffe4c4;
    --accent1-color: #78c5d7;
    --accent2-color: #faebd7;

    --heading-font: 'Skranji', serif;
    --paragraph-font: 'Poppins', serif;

    --nav-background-color: #faebd7;
    --nav-link-color: #134266;
    --nav-hover-link-color: #78c5d7;
    --nav-hover-background-color: #faebd7;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}